
<nav class="container">
  <ul>
  <%= link_to "Positive News",  news_index_path %>
  </ul>
  <ul>
    <%= link_to "Home",  news_index_path, class: 'nav-bar' %>
    <%= link_to "Form",  new_news_path, class: 'nav-bar' %>
    <%= link_to "News",  news_index_path, class: 'nav-bar' %>

    <li><%= form_with url: news_index_path, method: :get do |f| %></li>
      <li><%= f.label :search %></li> 
      <li><%= f.text_field :search  %></li> 
      <li><%= f.submit "Search" %></li> 
    <% end %>
  </ul>
</nav>