<div id="<%= dom_id news %>" class="container">
  <p>
    <strong>Header:</strong>
    <%= news.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= news.body %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= news.link %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= news.category_id %>
  </p>

</div>
